#tabbrowser-tabs {
    visibility: collapse;
}
#navigator-toolbox {
    display: flex;
    flex-flow: row wrap;
}
#titlebar {
    order: 1;
    max-width: 138px;
}
#titlebar #TabsToolbar {
    background-color: var(--toolbar-bgcolor);
    background-image: var(--toolbar-bgimage)
}
#nav-bar {
    order: 0;
    width: calc(100% - 138px);
}
#PersonalToolbar {
    order: 2;
}
/* Update - Hides the new Firefox home + tab dropdown. If you want to keep/customize those buttons. remove the CSS below and adjust the widths above to get everything fitting in one line */
#TabsToolbar .toolbar-items {
    display: none;
}

/* Reduce left spacer on non-maximized windows */
.titlebar-spacer{
    display: none !important;
}

toolbar toolbarspring{
    -moz-box-flex: 40 !important;
    min-width: 4px !important;
    max-width: 4px !important;
}
